.fight_area {
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}

.personal_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
}

.personal_information span {
    margin-top: 10px;
}

.social img {
    width: 32px;
    height: 32px;
}